<template>
    <v-container>
        <v-responsive class="d-flex align-center text-center fill-height">
            <v-card class="pa-4 mb-6 custom-card" variant="outlined">
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0"> <router-link to="/calibration">
                                <v-btn class="mr-2" icon color="primary">
                                    <v-icon>mdi-arrow-left</v-icon>
                                </v-btn>
                            </router-link> Enter Qubit & Gate Details</h3>
                    </div>
                </v-card-title>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-row class="mb-4">
                            <v-col cols="12">
                                <v-icon class="mr-2" color="primary">mdi-office-building</v-icon>
                                <v-typography variant="h6" class="mb-2">
                                    Branch Name:
                                </v-typography>
                                <v-typography class="text--primary outlined">{{ requestData.branch_name
                                }}</v-typography>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-icon class="mr-2" color="primary">mdi-account</v-icon>
                                <v-typography variant="h6" class="mb-2">
                                    Owner Name:
                                </v-typography>
                                <v-typography class="text--primary">
                                    {{ requestData.author_name }}
                                </v-typography>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row class="mb-4">
                            <v-col cols="12">
                                <v-icon class="mr-2" color="primary">mdi-clock-time-four-outline</v-icon>
                                <v-typography variant="h6" class="mb-2">
                                    Total Experiments Number:
                                </v-typography>
                                <v-typography class="text--primary">
                                    {{ totalCount }}
                                </v-typography>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-icon class="mr-2" color="primary">mdi-information</v-icon>
                                <v-typography variant="h6" class="mb-2">
                                    Description:
                                </v-typography>
                                <v-typography class="text--primary">
                                    {{ requestData.author_message }}
                                </v-typography>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card>

            <v-row>
                <v-col>
                    <v-form @submit.prevent="submitForm" class="custom-form">
                        <v-row class="justify-center mb-10">
                            <input type="file" ref="fileInput" style="display: none" accept=".json"
                                @change="handleFileUpload">
                            <h4 class="mr-5">{{ fileName }}</h4>
                            <v-btn color="primary" @click="openFileInput" class="mr-4" outlined large>
                                <v-icon left>mdi-upload</v-icon>
                                Upload JSON File
                            </v-btn>
                            <v-btn color="primary" @click="openCommitDialog" class="mr-4" outlined large>
                                <v-icon left>mdi-source-commit</v-icon>
                                Commit
                            </v-btn>

                             <v-btn color="primary" @click="openChipDialog" class="mr-4" outlined large>
                                <v-icon left>mdi-chip</v-icon>
                                add chip
                            </v-btn>

                            <v-dialog v-model="addChipDialog" max-width="500px">
                                <v-card>
                                    <v-card-title>Add New Chip</v-card-title>
                                    <v-card-text>
                                        <v-text-field v-model="newChip.name" label="Name of the Chip"
                                            required></v-text-field>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="primary" @click="submitNewChip" outlined>
                                            Submit
                                        </v-btn>
                                        <v-btn color="secondary" @click="cancelAddChip" outlined>
                                            Cancel
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>

                            <h4> {{ selectedChip }}</h4>
                            <v-autocomplete :items="allChips" item-title="name" item-value="id" label="Select a chip"
                                v-model="selectedChip" @change="handleChipSelect">
                            </v-autocomplete>

                        </v-row>
                        <v-dialog v-model="commitDialog" max-width="500px">
                            <v-card>
                                <v-card-title>Commit Changes</v-card-title>
                                <v-card-text>
                                    <v-form>
                                        <v-text-field v-model="commit.authorName" label="Author Name"
                                            required></v-text-field>
                                        <v-text-field v-model="commit.email" label="Email" required></v-text-field>
                                        <v-text-field v-model="commit.message" label="Message" required></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" @click="submitForm" outlined>
                                        Submit
                                    </v-btn>
                                    <v-btn color="secondary" @click="cancelCommit" outlined>
                                        Cancel
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-form>
                </v-col>
            </v-row>
            <v-table>
                <thead>
                    <tr>
                        <th class="text-center font-weight-bold">
                            Id
                        </th>
                        <th class="text-center font-weight-bold">
                            Author
                        </th>
                        <th class="text-center font-weight-bold">
                            Message
                        </th>
                        <th class="text-center font-weight-bold">
                            Date
                        </th>
                        <th class="text-center font-weight-bold">
                            View
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, i) in branchLogs" :key="item.branch">
                        <td>{{ i + 1 }}</td>
                        <td> {{ item.author }}</td>
                        <td>{{ item.message }}</td>
                        <td>{{ item.date }}</td>
                        <td>
                            <v-btn small color="primary" @click="openCommit(item.commit_hash)">
                                <v-icon left>mdi-eye</v-icon> View
                            </v-btn>
                        </td>
                    </tr>
                </tbody>
            </v-table>
        </v-responsive>

    </v-container>
</template>
  
<script>
import axios from 'axios';

export default {
    props: {
        requestData: {
            type: Object,
        },
    },
    data() {
        return {
            commitDialog: false,
            fileName: '',
            totalCount: 1,
            commit: {
                authorName: '',
                email: '',
                message: '',
            },
            branchDetails: {
                hash: '',
                latest_commit_date: '',
                latest_commit_message: '',
                latest_committer: '',
                latest_committer_email: '',
                name: ''
            },
            branchLogs: [{
                author: '',
                message: '',
                commit_hash: '',
                date: ''
            }],
            apiData: '',
            addChipDialog: false,
            newChip: {
                name: ''
            },
            allChips: [], 
            selectedChip: null,  
        };
    },
    mounted() {
        const branchName = this.requestData.branch_name;
        axios.get('/git/branches/' + branchName)
            .then(response => {
                this.branchDetails = response.data
            })
            .catch(error => {
                alert(error)
                console.log(error)
            })
        axios.get('/git/branch/commit_log/' + branchName)
            .then(response => {
                console.log(response.data);
                this.totalCount = response.data.length,
                    this.branchLogs = response.data
            })
            .catch(error => {
                alert(error)
                console.log(error)
            })
    },
    methods: {
        openCommitDialog() {
            this.commitDialog = true;
        },
        openChipDialog() {
            this.addChipDialog = true;
        },
        openFileInput() {
            this.$refs.fileInput.click();
        },
        cancelAddChip() {
            this.addChipDialog = false;
        },
        handleFileUpload(event) {
            const file = event.target.files[0];
            this.fileName = file.name;
            if (file) {
                const reader = new FileReader();
                reader.onload = () => {
                    const jsonData = JSON.parse(reader.result);
                    this.convertAndSubmit(jsonData);
                };
                reader.readAsText(file);
            }
        },
        convertAndSubmit(jsonData) {
            if (this.selectedChip == null || this.selectedChip === undefined) {
                alert("Please select a chip");
                return;
            }
            this.apiData = {
                Qubits: jsonData.Qubits,
                Gates: jsonData.Gates,
            };
        },
        submitForm() {
            const commit = {
                author_name: this.commit.authorName,
                author_email: this.commit.email,
                message: this.commit.message,
            }
            const data = this.apiData
            const branch_name = this.requestData.branch_name;
            console.log(data)
            const chip_id= this.selectedChip 
            axios.post('/git/insert_data', { data, commit, branch_name, chip_id })
                .then(response => {
                    console.log(response)
                    this.commitDialog = false;
                    this.reloadpage()
                })
                .catch(error => {
                    alert(error)
                    this.commitDialog = false;
                    console.log(error)
                })
        },
        openCommit(hash) {
            this.$router.push({
                path: '/calibration/viewExperimentData',
                query: { commit_hash: hash, branch_name: this.requestData.branch_name },
            });
            console.log(hash);
        },
        reloadpage() {
            const branchName = this.requestData.branch_name;
            axios.get('/git/branches/' + branchName)
                .then(response => {
                    this.branchDetails = response.data
                })
                .catch(error => {
                    alert(error)
                    console.log(error)
                })
            axios.get('/git/branch/commit_log/' + branchName)
                .then(response => {
                    console.log(response.data);
                    this.totalCount = response.data.length,
                        this.branchLogs = response.data
                })
                .catch(error => {
                    alert(error)
                    console.log(error)
                })
                this.fetchAllChips()
        },
        submitNewChip() {
            // Axios call to add a new chip
            const data = this.newChip
            const branch_name = this.requestData.branch_name;

            axios.post('/git/chip/insert_data', { data, branch_name })
                .then(response => {
                    this.addChipDialog = false;
                    this.newChip.name = '';
                    this.reloadpage()
                })
                .catch(error => {
                    console.error(error);
                    alert('Failed to add chip!');
                });
        },
        fetchAllChips() {
            const branch_name = this.requestData.branch_name;
            axios.get('/git/get/chip/' + branch_name)
                .then(response => {
                    // Log the raw response data for debugging
                    console.log('Raw response data:', response.data);

                    // Ensure that response.data is an array before processing
                    if (!Array.isArray(response.data)) {
                        console.error('Invalid response data:', response.data);
                        alert('Failed to fetch chips!');
                        return;
                    }

                    // Directly create the desired array without using temp arrays
                    const allChips = response.data.map(chip => {
                        // Log each chip for debugging
                        console.log('Processing chip:', chip);

                        return {
                            id: chip.id,
                            name: chip.name
                        };
                    });

                    // Assign the processed array to this.allChips
                    this.allChips = allChips;

                    // Log the result for debugging
                    console.log('Processed allChips:', this.allChips);
                })
                .catch(error => {
                    console.error(error);
                    alert('Failed to fetch chips!');
                });
        },
    },
};
</script>
  
<style>
/* ... */
</style>
  