<template>
    <v-container>
        <v-responsive class="d-flex align-center text-center fill-height">

            <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>
            <h1 class="text-h2 font-weight-bold"> <router-link to="/">
                    <v-btn class="mr-2" icon color="primary">
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                </router-link> Calibration Data Configs</h1>
        </v-responsive>

        <v-row class="text-center justify-center align-center">
            <div class="text-center mt-10">
                <v-btn class="flex-grow-1 text-none" color="primary" rounded="0" variant="flat" @click="createNewBranch">
                    <v-icon left>mdi-source-branch-plus</v-icon> Create New Branch
                </v-btn>
                <v-btn class="flex-grow-1 text-none mx-3" color="primary" rounded="0" variant="flat"
                    @click="openMergeDialog">
                    <v-icon left>mdi-source-merge</v-icon> Merge Branches
                </v-btn>
                <v-btn class="flex-grow-1 text-none mx-3" color="primary" rounded="0" variant="flat"
                    @click="openHistoryDialog">
                    <v-icon left>mdi-history</v-icon> History of Repo
                </v-btn>
            </div>
        </v-row>

        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-title class="headline">Create New Branch</v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="createBranch">
                        <v-text-field v-model="newBranch.branchName" label="Branch Name" color="primary"></v-text-field>
                        <v-text-field v-model="newBranch.ownerName" label="Owner Name" color="primary"></v-text-field>
                        <v-text-field v-model="newBranch.email" label="Owner Email" color="primary"></v-text-field>
                        <v-text-field v-model="newBranch.description" label="Description" color="primary"></v-text-field>
                        <v-card-actions>
                            <v-btn color="primary" type="submit">Create</v-btn>
                            <v-btn color="error" @click="dialog = false">Cancel</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-dialog v-model="mergeDialog" max-width="500px">
            <v-card>
                <v-card-title class="headline">Merge Branches</v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="mergeBranches">
                        <v-text-field v-model="mergeData.from_branch" label="From Branch Name"></v-text-field>
                        <v-text-field v-model="mergeData.to_branch" label="To Branch Name"></v-text-field>
                        <v-text-field v-model="mergeData.ownerName" label="Owner Name"></v-text-field>
                        <v-text-field v-model="mergeData.ownerEmail" label="Owner Email"></v-text-field>
                        <v-card-actions>
                            <v-btn color="primary" type="submit">Merge</v-btn>
                            <v-btn color="error" @click="cancelMerge">Cancel</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-dialog v-model="historyDialog" max-width="500px">
            <v-card>
                <v-card-title class="headline">History of Repo</v-card-title>
                <v-card-text>
                    <v-table dense>
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left">Committer</th>
                                    <th class="text-left">Date</th>
                                    <th class="text-left">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="activity in repoActivities.slice(0, 10)" :key="activity.commit_hash">
                                    <td>{{ activity.committer }}</td>
                                    <td>{{ activity.date }}</td>
                                    <td>{{ activity.message }}</td>
                                </tr>
                            </tbody>
                        </template>
                    </v-table>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="error" @click="historyDialog = false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="renameDialog" max-width="500px">
            <v-card>
                <v-card-title class="text-h5">
                    Rename Branch
                </v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="renameRepository">
                        <v-text-field v-model="newBranchName" label="New Branch Name"></v-text-field>
                        <v-text-field v-model="oldBranchName" label="Old Branch Name"></v-text-field>
                        <v-text-field v-model="updatename" label="Owner Name"></v-text-field>
                        <v-text-field v-model="updateemail" label="Owner Email"></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" @click="renameRepository">Submit</v-btn>
                    <v-btn color="red" @click="renameDialog = false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="deleteDialog" max-width="500px">
            <v-card>
                <v-card-title class="text-h5">
                    Delete Branch
                </v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="deleteRepository()">
                        <v-text-field v-model="updatename" label="Owner Name"></v-text-field>
                        <v-text-field v-model="updateemail" label="Owner Email"></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" @click="deleteRepository()">Submit</v-btn>
                    <v-btn color="red" @click="deleteDialog = false">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>



        <v-row class="mt-10 justify-center align-center">
            <v-table>
                <thead>
                    <tr>
                        <th class="text-left font-weight-bold">
                            Branch
                        </th>
                        <th class="text-left font-weight-bold">
                            Owner
                        </th>
                        <th class="text-left font-weight-bold">
                            Message
                        </th>
                        <th class="text-left font-weight-bold">
                            Time
                        </th>
                        <th class="text-left font-weight-bold">
                            Open Branch
                        </th>
                        <th class="text-left font-weight-bold">
                            Rename Branch
                        </th>
                        <th class="text-left font-weight-bold">
                            Delete Branch
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in repos" :key="item.branch">
                        <td>{{ item.name }}</td>
                        <td>{{ item.latest_committer }}</td>
                        <td>{{ item.latest_commit_message }}</td>
                        <td>{{ item.latest_commit_date }}</td>
                        <td>
                            <v-btn small color="primary" @click="cloneRepository(item.name)">
                                <v-icon left>mdi-content-copy</v-icon> Open
                            </v-btn>
                        </td>
                        <td>
                            <v-btn small color="primary" @click="opneRenameDialog()">
                                <v-icon left>mdi-update</v-icon> Rename
                            </v-btn>
                        </td>
                        <td>
                            <v-btn small color="red" @click="openDeleteDialog(item.name)">
                                <v-icon left>mdi-delete</v-icon> Delete
                            </v-btn>
                        </td>
                    </tr>
                </tbody>
            </v-table>
        </v-row>
    </v-container>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            repos: [],
            dialog: false,
            renameDialog: false,
            deleteDialog: false,
            newBranchName: '',
            oldBranchName: '',
            updatename: '',
            updateemail: '',
            newBranch: {
                branchName: '',
                ownerName: '',
                description: '',
                email: ''
            },
            mergeDialog: false,
            mergeData: {
                from_branch: '',
                to_branch: '',
                ownerName: '',
                ownerEmail: ''
            },
            existingBranches: [],
            historyDialog: false,
            repoActivities: [],
            deletebranch:'',
        }
    },
    mounted() {
        axios.get('/git/branches')
            .then(response => {
                console.log(response.data)
                this.repos = response.data;
                axios.get('/git/activity')
                    .then(response => {
                        this.repoActivities = response.data;
                    })
                    .catch(error => {
                        alert(error)
                        console.error(error);
                    })
            })
            .catch(error => {
                alert(error)
                console.error(error);
            });
    },
    methods: {
        createNewBranch() {
            this.dialog = true;
        },
        createBranch() {
            const requestData = {
                branch_name: this.newBranch.branchName,
                author_name: this.newBranch.ownerName,
                author_email: this.newBranch.email,
                author_message: this.newBranch.description
            };
            axios.post('/git/branches', requestData)
                .then(response => {
                    console.log('Branch created successfully:', response.data);
                })
                .catch(error => {
                    alert(error)
                    console.error('Failed to create branch:', error);
                });

            this.dialog = false;
            this.$router.push({
                path: '/calibration/newExperiment',
                query: requestData
            });
        },
        openMergeDialog() {
           
            this.mergeDialog = true;
        },
        cancelMerge() {
            this.mergeDialog = false;
        },
        openDeleteDialog(branch) {
            this.deleteDialog = true;
            this.deletebranch = branch;
        },
        mergeBranches() {
            const requestData = {
                from_branch: this.mergeData.from_branch,
                to_branch: this.mergeData.to_branch,
                author_name: this.mergeData.ownerName,
                author_email: this.mergeData.ownerEmail,
            };
            this.mergeDialog = false;
            axios.post('/git/branches/merge', requestData)
                .then(response => {
                    console.log('Branch Merged successfully:', response.data);
                   this.reloadpage()
                })
                .catch(error => {
                    alert(error)
                    console.error('Failed to create branch:', error);
                });

            this.dialog = false;
        },
        openHistoryDialog() {
            this.historyDialog = true;
        },
        viewActivityDetails(activity) {
            console.log('View Activity Details:', activity);
        },
        cloneRepository(name) {
            this.$router.push({
                path: '/calibration/updateExperiment',
                query: { branch_name: name },
            });
        },
        deleteRepository() {
            const requestData = {
                branch_name: this.deletebranch,
                author_name: this.updatename,
                author_email: this.updateemail
            };
            axios.delete("/git/branches", {
                headers: {
                    "Content-Type": "application/json"
                },
                data: requestData
            })
                .then(response => {
                    console.log(response)
                    this.deleteDialog = false;
                   this.reloadpage()

                })
                .catch(error => {
                    alert(error)
                    console.log(error)
                   this.reloadpage()
                })
        },
        opneRenameDialog() {
            this.renameDialog = true;
        },
        renameRepository() {
            const requestData = {
                old_branch_name: this.oldBranchName,
                new_branch_name: this.newBranchName,
                author_name: this.updatename,
                author_email: this.updateemail
            };
            axios.put("/git/branches", requestData)
                .then(response => {
                    console.log(response)
                    this.renameDialog = false;
                   this.reloadpage()
                })
                .catch(error => {
                    alert(error)
                    console.log(error)
                })
        },
        reloadpage(){
            axios.get('/git/branches')
            .then(response => {
                console.log(response.data)
                this.repos = response.data;
                axios.get('/git/activity')
                    .then(response => {
                        this.repoActivities = response.data;
                    })
                    .catch(error => {
                        alert(error)
                        console.error(error);
                    })
            })
            .catch(error => {
                alert(error)
                console.error(error);
            });
        }
    },
}
</script>