<template>
  <v-container>
    <v-row class="mt-10 justify-center align-center">
  <v-col cols="12">
    <h2 class="text-center">Qubit Table</h2>
    <v-table fixed-header height="300px">
      <thead>
        <tr>
          <th class="text-left font-weight-bold">Name</th>
          <th class="text-left font-weight-bold">freq</th>
          <th class="text-left font-weight-bold">freq_predicted</th>
          <th class="text-left font-weight-bold">readfreq</th>
          <th class="text-left font-weight-bold">freq_ef</th>
          <th class="text-left font-weight-bold">Chip</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in qubit_data" :key="item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.freq }}</td>
          <td>{{ item.freq_predicted }}</td>
          <td>{{ item.readfreq }}</td>
          <td>{{ item.freq_ef }}</td>
          <td>{{ item.chip_name }}</td>
        </tr>
      </tbody>
    </v-table>
  </v-col>

  <v-col cols="12">
    <h2 class="text-center">Gate Table</h2>
    <v-table fixed-header height="500px">
      <thead>
        <tr>
          <th class="text-left font-weight-bold">Gate Name</th>
          <th class="text-left font-weight-bold">Pulse Count</th>
          <th class="text-left font-weight-bold">dest</th>
          <th class="text-left font-weight-bold">phase</th>
          <th class="text-left font-weight-bold">t0</th>
          <th class="text-left font-weight-bold">freq</th>
          <th class="text-left font-weight-bold">env</th>
          <th class="text-left font-weight-bold">amp</th>
          <th class="text-left font-weight-bold">twidth</th>
          <th class="text-left font-weight-bold">Chip</th>
        </tr>
      </thead>

      <tbody>
        <template v-for="(items, gateName, index) in organizedGateData" :key="`gateGroup-${index}`">
          <tr v-for="(item, itemIndex) in items" :key="`item-${gateName}-${itemIndex}`">
            <td v-if="itemIndex === 0">
              {{ gateName }}
            </td>
            <td v-else></td> <!-- Empty cell for subsequent rows where gate name is not needed -->
            <td>{{ item.pulse_count }}</td>
            <td>{{ item.dest }}</td>
            <td>{{ item.phase }}</td>
            <td>{{ item.t0 }}</td>
            <td>{{ item.freq }}</td>
            <td>{{ item.env }}</td>
            <td>{{ item.amp }}</td>
            <td>{{ item.twidth }}</td>
            <td>{{ item.chip_name }}</td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-col>
</v-row>
</v-container>
  </template>
  
<script>
import axios from 'axios';

export default {
    props: {
    commit_hash: {
            type: String
        },
        branch_name: {
        type: String,
      },
    },
  data() {
    return {
      gate_data: [],
      qubit_data:[],
      organizedGateData: {},
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
    const hash = this.commit_hash;
    const branch = this.branch_name;
    axios
      .get(`/git/get/commit/${hash}/${branch}`)
      .then(response => {
        console.log(response)
        this.gate_data = response.data.gate_data;
        this.qubit_data = response.data.qubit_data;
        this.organizeGateData();
      })
      .catch(error => {
        alert(error)
        console.error(error);
      });
  },
  organizeGateData() {
      this.organizedGateData = this.gate_data.reduce((acc, item) => {
        if (!acc[item.gate_name]) {
          acc[item.gate_name] = [];
        }
        acc[item.gate_name].push(item);
        return acc;
      }, {});
    }
  },
};
</script>


<style scoped>
.v-table thead tr th,
.v-table tbody tr td {
  border: 1px solid #ddd; /* Add border to cells */
  padding: 8px; /* Add padding inside cells */
  text-align: left; /* Align text to the left */
}

/* Ensure that the first column spans the same number of rows as there are items for each gate name */
.v-table tbody tr td:first-of-type {
  vertical-align: top; /* Align content to the top of the cell */
}

/* Add a border between rows */
.v-table tbody tr {
  border-bottom: 1px solid #ddd;
}
</style>
