<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>
      <h1 class="text-h2 font-weight-bold">QubiC Data Storage</h1>
    </v-responsive>
  </v-container>
</template>

<script setup>
  //
</script>
