<template>
    <div id="myDiv"></div>
  </template>
  
  <script>
  import Plotly from 'plotly.js-dist';
  
  export default {
    mounted() {
      const data = [
        {
          x: [1, 2, 3, 4, 5],
          y: [10, 11, 12, 13, 14],
          type: 'scatter'
        }
      ];
  
      const layout = {
        xaxis: {
          autorange: true,
          autmargin:true
        }
      };
  
      Plotly.newPlot('myDiv', data, layout);
    }
  };
  </script>
  