<template>
  <v-container>
    <v-responsive class="d-flex align-center text-center fill-height">
      <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>
      <h1 class="text-h2 font-weight-bold">QubiC Data Storage</h1>
    </v-responsive>
      <v-row class="mt-10">
          <v-col v-for="(card, index) in cardData" :key="index" cols="12" md="6">
              <v-card elevation="12" :color="card.color" dark class="mx-auto" max-width="auto">
                  <v-card-title>{{ card.title }}</v-card-title>
                  <v-card-subtitle>{{ card.subtitle }}</v-card-subtitle>
                  <v-card-actions>
                      <v-btn color="white-text" dark variant="outlined" size="x-large" @click="card.buttonClickAction">
                          {{ card.buttonText }}
                      </v-btn>
                  </v-card-actions>
              </v-card>
          </v-col>
      </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
      return {
          cardData: [
              {
                  title: 'Calibration Data Management',
                  subtitle: 'Chip Configuration Details',
                  color: 'primary',
                  buttonText: 'Start',
                  buttonClickAction: this.calibrationPage,
              },
              {
                  title: 'Data Visualization',
                  subtitle: 'Visualize the Calibration & Experiment Data',
                  color: 'primary',
                  buttonText: 'Start',
                  buttonClickAction: this.experimentPage,
              },
          ],
      };
  },
  methods: {
    calibrationPage() {
          this.$router.push({ name: 'Calibration' });
      },
      experimentPage() {
          this.$router.push({ name: 'Visualization' });
      },
  },
};
</script>
