<template>
    <v-container>
      <v-row>
        <v-col>
          <v-card color="primary" dark>
            <v-card-title class="text-h5">
              <router-link :to="{ name: 'visualizationByCalibrationData', query: $route.query }">
                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
              </router-link>
              Calibration Data Visualization:
            </v-card-title>
            <v-card-text>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Branch Name: {{ this.branch_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Chip Name: {{ this.chip_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Property: gate_freq
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Total Commits: {{ this.totalCommits }}
              </v-chip>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
  
      <v-row v-for="(commitData, index) in gateData" :key="index">
        <v-col cols="12" sm="12">
          <v-card>
          <v-card-title>
            <div class="text-h6">Gate: {{ commitData.name }}</div>
          </v-card-title>
          <v-card-text>
            <div :id="'gate-canvas-freq-' + index"></div>
          </v-card-text>
        </v-card>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
  import axios from 'axios';
  import Plotly from 'plotly.js-dist';
  
  export default {
    props: {
      branch_name: {
        type: String,
      },
      chip_id: {
        type: String,
      },
    },
    data() {
      return {
        qubitData: [],
        gateData:[],
        totalCommits: 0
      };
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        const branch = this.branch_name;
        const chip_id = this.chip_id;
        axios
          .get(`/git/get_all_by_property/${branch}/${chip_id}`)
          .then((response) => {
            const getGateData = response.data.slice(14);
            this.gateData = getGateData;
            this.totalCommits = this.gateData[0].gate_data.length
            this.chip_name = this.gateData[0].gate_data[0].chip_name
            this.renderGateCharts();
          })
          .catch((error) => {
            console.error(error);
          });
      },
      renderGateCharts() {
        for (let i = 0; i < this.gateData.length; i++) {
            this.renderGateChartphase(i)
        }
      },
  
      renderGateChartphase(index) {
        const dataResponse = this.gateData[index].gate_data;
        const chartDataArr = [];
        const gateCanvasId = 'gate-canvas-freq-' + index; // Generate the correct ID
  
        // Separate the x and y data into arrays
        const gateNames = dataResponse.map(gateData => gateData.commit_hash);
        const freq = dataResponse.map(gateData => gateData.freq);
  
        const chartDataphase = {
          x: gateNames, // Provide the array of qubit names to the x-axis
          y: freq, // Provide the array of qubit frequencies to the y-axis
          mode: 'lines',
          type: 'scatter',
          name: 'freq',
        };
        chartDataArr.push(chartDataphase);
  
        const layout = {
          title: 'Gate freq ',
          xaxis: {
            title: 'Gate Name',
          },
          yaxis: {
            title: 'freq',
          },
        };
  
        this.$nextTick(() => {
          Plotly.newPlot(gateCanvasId, chartDataArr, layout);
        });
      },
  
    },
  };
  </script>
  
  <style>
  .chart-container {
    height: 400px;
  }
  </style>
  