<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card color="primary" dark>
          <v-card-title class="text-h5">
            <router-link :to="{ name: 'visualizationByCalibrationData', query: $route.query }">
              <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                <v-icon>mdi-arrow-left</v-icon>
              </v-btn>
            </router-link>
            Calibration Data Visualization:
          </v-card-title>
          <v-card-text>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Branch Name: {{ this.branch_name }}
            </v-chip>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Chip Name: {{ this.chip_name }}
            </v-chip>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Property: Freq
            </v-chip>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Total Commits: {{ this.totalCommits }}
            </v-chip>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-for="(commitData, index) in qubitData" :key="index">
      <v-col cols="12" sm="12">
        <v-card>
          <v-card-title>
            <div class="text-h6">Qubit: {{ commitData.name }}</div>
          </v-card-title>
          <v-card-text>
            <!-- Chart container -->
            <div :id="'qubit-canvas-' + index"></div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
  
<script>
import axios from 'axios';
import Plotly from 'plotly.js-dist';

export default {
  props: {
    branch_name: {
      type: String,
    },
    chip_id: {
      type: String,
    },
  },
  data() {
    return {
      qubitData: [],
      gateData: [],
      totalCommits: 0
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      const branch = this.branch_name;
      const chip_id = this.chip_id;
      axios
        .get(`/git/get_all_by_property/${branch}/${chip_id}`)
        .then((response) => {
          const getQubitData = response.data.slice(0, 8);
          this.totalCommits = getQubitData[0].qubit_data.length
          this.chip_name = getQubitData[0].qubit_data[0].chip_name
          this.qubitData = getQubitData.slice().reverse();
          this.renderQubitCharts();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    renderQubitCharts() {
      for (let i = 0; i < this.qubitData.length; i++) {
        this.renderQubitChart(i);
      }
    },
    renderQubitChart(index) {
      const dataResponse = this.qubitData[index].qubit_data;
      const chartDataArr = [];
      const qubitCanvasId = 'qubit-canvas-' + index;

      const qubitNames = dataResponse.map(qubitData => qubitData.commit_hash);
      const qubitFrequencies = dataResponse.map(qubitData => qubitData.freq);
      const qubitFreqEf = dataResponse.map(qubitData => qubitData.freq_ef);
      const qubitreadFreq = dataResponse.map(qubitData => qubitData.readfreq);

      const qubitFrequenciesGHz = qubitFrequencies.map(freq => (freq / 1e9).toFixed(2));
      const qubitFreqEfGHz = qubitFreqEf.map(freqEf => (freqEf / 1e9).toFixed(2));
      const qubitreadFreqGHz = qubitreadFreq.map(readFreq => (readFreq / 1e9).toFixed(2));


      const chartDataFrequency = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitFrequenciesGHz, // Provide the array of qubit frequencies to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Qubit Drive Frequency',
      };

      const chartDataFreqEf = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitFreqEfGHz, // Provide the array of qubit freq_ef to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Qubit EF Frequency',
      };

      const chartDataReadFreq = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitreadFreqGHz, // Provide the array of qubit freq_ef to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Readout Frequency',
      };

      chartDataArr.push(chartDataFrequency);
      chartDataArr.push(chartDataFreqEf);
      chartDataArr.push(chartDataReadFreq);

      const layout = {
        xaxis: {
          title: 'Commit hash ',
        },
        yaxis: {
          title: 'Frequency(GHz)',
        },
      };

      this.$nextTick(() => {
        Plotly.newPlot(qubitCanvasId, chartDataArr, layout);
      });
    },
  },
};
</script>
  
<style>
.chart-container {
  height: 400px;
}
</style>
  