<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card color="primary" dark>
          <v-card-title class="text-h5">
            <router-link :to="{ name: 'visualizationByCalibrationData', query: $route.query }">
              <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                <v-icon>mdi-arrow-left</v-icon>
              </v-btn>
            </router-link>
            Calibration Data Visualization:
          </v-card-title>
          <v-card-text>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Branch Name: {{ this.branch_name }}
            </v-chip>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Chip Name: {{ this.chip_name }}
            </v-chip>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Property: gate_amp
            </v-chip>
            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
              Total Commits: {{ this.totalCommits }}
            </v-chip>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-for="(commitData, index) in allData" :key="index">
      <v-col v-for="(chartData, groupName) in groupedChartData" :key="groupName" cols="4" sm="4">
        <v-card>
          <v-card-title>
            <div class="text-h6">Commit Hash: {{ commitData.commit_hash }}</div>
          </v-card-title>
          <v-card-subtitle>
            <div>Committed by: {{ commitData.author }}</div>
            <div>Date: {{ commitData.date }}</div>
            <div>Message: {{ commitData.message }}</div>
          </v-card-subtitle>
          <v-card-text>
            <!-- Chart container -->
            <div :id="'gate-canvas-' + groupName + '-' + index"></div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
  
<script>
import axios from 'axios';
import Plotly from 'plotly.js-dist';

export default {
  props: {
    branch_name: {
      type: String,
    },
    chip_id: {
      type: String,
    },
  },
  data() {
    return {
      allData: [],
      totalCommits: 0,
      gateGroups: {
        group1: [
          "alignmentread", "vnaread", "Q0read", "Q1read", "Q2read", "Q3read", "Q5read", "Q4read", "Q6read", "Q7read"
        ],
        group2: [
          "Q0X90", "Q1X90", "Q2X90", "Q3X90", "Q5X90", "Q4X90", "Q6X90", "Q7X90"
        ],
        group3: [
          "Q0X90_cos", "Q1X90_cos", "Q2X90_cos", "Q3X90_cos", "Q5X90_cos", "Q4X90_cos", "Q6X90_cos", "Q7X90_cos"
        ],
        group4: [
          "Q0X90_ef", "Q1X90_ef", "Q2X90_ef", "Q3X90_ef", "Q5X90_ef", "Q4X90_ef", "Q6X90_ef", "Q7X90_ef"
        ],
        group5: [
          "Q0rabi_ef", "Q1rabi_ef", "Q2rabi_ef", "Q3rabi_ef", "Q5rabi_ef", "Q4rabi_ef", "Q6rabi_ef", "Q7rabi_ef"
        ],
        group6: [
          "Q0rabi_drag", "Q1rabi_drag", "Q2rabi_drag", "Q3rabi_drag", "Q5rabi_drag", "Q4rabi_drag", "Q6rabi_drag", "Q7rabi_drag"
        ],
        group7: [
          "Q0rabi_cos", "Q1rabi_cos", "Q2rabi_cos", "Q3rabi_cos", "Q5rabi_cos", "Q4rabi_cos", "Q6rabi_cos", "Q7rabi_cos"
        ],
        group8: [
          "Q0rabi3_cos_ef", "Q1rabi3_cos", "Q2rabi3_cos", "Q3rabi3_cos"
        ],
        group9: [
          "Q5Q4CR", "Q1Q0CR", "Q2Q1CR", "Q6Q5CR", "Q4Q3CR", "Q3Q2CR"
        ],
        group10: [
          "Q5Q4CNOT", "Q1Q0CNOT", "Q2Q1CNOT", "Q6Q5CNOT", "Q4Q3CNOT", "Q3Q2CNOT"
        ],
        group11: [
          "Q0Y-90", "Q1Y-90", "Q2Y-90", "Q3Y-90", "Q7Y-90", "Q5Y-90", "Q4Y-90", "Q6Y-90"
        ],
        group12: [
          "Q0Z90", "Q1Z90", "Q2Z90", "Q3Z90"
        ]
      },
      groupedChartData: {},
      allGroupedChartData: [],
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      const branch = this.branch_name;
      const chip_id = this.chip_id;
      axios
        .get(`/git/get_all/${branch}/${chip_id}`)
        .then((response) => {
          this.allData = response.data;
          this.chip_name = this.allData[0].gate_data[0].chip_name
          this.totalCommits = this.allData.length
          this.prepareGroupChartDataGroup();
          this.renderGroupedCharts(); // Changed method name for clarity
        })
        .catch((error) => {
          console.error(error);
        });
    },


    prepareGroupChartDataGroup() {
      for (let i = 0; i < this.allData.length; i++) {
        this.organizeDataByGroup(i)
      }
    },
    organizeDataByGroup(index) {


      // Initialize the grouped chart data structure based on the groups
      for (const groupName in this.gateGroups) {
        this.groupedChartData[groupName] = {
          gateNames: [],
          amp: [],
        };
      }

      const data = this.allData[index];
      for (const gateData of data.gate_data) {
        for (const [groupName, gates] of Object.entries(this.gateGroups)) {
          if (gates.includes(gateData.to_gate_name)) {
            this.groupedChartData[groupName].gateNames.push(gateData.to_gate_name);
            this.groupedChartData[groupName].amp.push(gateData.to_amp);
          }
        }
      }

      this.allGroupedChartData.push(this.groupedChartData)
    },

    renderGroupedCharts() {
      this.allGroupedChartData.forEach((groupedChartData, index) => {
        Object.entries(groupedChartData).forEach(([groupName, chartData]) => {
          const uniqueId = `gate-canvas-${groupName}-${index}`; // Unique ID for every chart.
          this.renderGateChartphase(uniqueId, groupName, chartData);
        });
      });
    },
    renderGateChartphase(uniqueId, groupName, chartData) {
      console.log(groupName, chartData)
      const chartDataArr = [];
      const gateCanvasId = uniqueId// Generate ID based on group name

      const chartDataphase = {
        x: chartData.gateNames,
        y: chartData.amp,
        mode: 'lines',
        type: 'scatter',
        name: 'amp',
      };

      chartDataArr.push(chartDataphase);

      const layout = {
        title: 'Gate amp for ' + groupName,
        xaxis: {
          title: 'Gate Name',
        },
        yaxis: {
          title: 'amp',
        },
      };

      // Ensure the DOM is updated before trying to render the chart
      this.$nextTick(() => {
        Plotly.newPlot(gateCanvasId, chartDataArr, layout);
      });
    },
  },
};
</script>

  
<style>
.chart-container {
  height: 400px;
}
</style>
  
