<template>
  <v-container>
    <v-row>
        <v-col>
          <v-card color="primary" dark>
            <v-card-title class="text-h5">
              <router-link :to="{ name: 'visualizationByCalibrationData', query: $route.query }">
                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
              </router-link>
              Calibration Data Visualization:
            </v-card-title>
            <v-card-text>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Branch Name: {{ this.branch_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Chip Name: {{ this.chip_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Property: gate_twidth
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Total Commits: {{ this.totalCommits }}
              </v-chip>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

    <v-row v-for="(commitData, index) in allData" :key="index">
      <v-col 
        v-for="(chartData, groupName) in groupedChartData" 
        :key="groupName" 
        cols="6" 
        sm="6"
      >
      <v-card>
      <v-card-title>
        <div class="text-h6">Commit Hash: {{ commitData.commit_hash }}</div>
      </v-card-title>
      <v-card-subtitle>
        <div>Committed by: {{commitData.author}}</div>
        <div>Date: {{ commitData.date }}</div>
        <div>Message: {{ commitData.message }}</div>
      </v-card-subtitle>
      <v-card-text>
        <!-- Chart container -->
        <div :id="'gate-canvas-' + groupName +'-'+ index"></div>
      </v-card-text>
    </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
  
<script>
import axios from 'axios';
import Plotly from 'plotly.js-dist';

export default {
  props: {
    branch_name: {
      type: String,
    },
    chip_id: {
        type: String,
      },
  },
  data() {
    return {
      allData: [],
      totalCommits: 0,
      gateGroups: {

        group1: [
          "M0mark",
          "alignmentread",
          "vnaread",
          "Q0X90", "Q0X90_ef", "Q0rabi_ef", "Q0rabi", "Q0Y-90", "Q0read",
          "Q1X90", "Q1X90_ef", "Q1rabi_ef", "Q1rabi", "Q1Y-90", "Q1read",
          "Q2X90", "Q2X90_ef", "Q2rabi_ef", "Q2rabi", "Q2Y-90", "Q2read",
          "Q3X90", "Q3X90_ef", "Q3rabi_ef", "Q3rabi", "Q3Y-90", "Q3read",
          "Q4X90", "Q4X90_ef", "Q4rabi_ef", "Q4rabi", "Q4Y-90", "Q4read",
          "Q5X90", "Q5X90_ef", "Q5rabi_ef", "Q5rabi", "Q5Y-90", "Q5read",
          "Q6X90", "Q6X90_ef", "Q6rabi_ef", "Q6rabi", "Q6Y-90", "Q6read",
          "Q7X90", "Q7X90_ef", "Q7rabi_ef", "Q7rabi", "Q7Y-90", "Q7read"
        ],

        group2: [
          "Q0Q1CR", "Q0Q1CRGH", "Q0Q1CNOT", "Q0Q1CNOTGH",
          "Q1Q2CR", "Q1Q2CNOT",
          "Q2Q1CR", "Q2Q1CNOT",
          "Q3Q2CR", "Q3Q2CNOT",
          "Q4Q3CR", "Q4Q3CNOT",
          "Q5Q4CR", "Q5Q4CNOT",
          "Q6Q5CR", "Q6Q5CNOT",
          "Q7Q0CR", "Q7Q0CNOT"
        ]
      },
      groupedChartData: {},
      allGroupedChartData: [],
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      const branch = this.branch_name;
      const chip_id = this.chip_id;
      axios
        .get(`/git/get_all/${branch}/${chip_id}`)
        .then((response) => {
          this.allData = response.data;
          this.totalCommits = this.allData.length
          this.chip_name = this.allData[0].gate_data[0].chip_name
          this.prepareGroupChartDataGroup();
          this.renderGroupedCharts(); // Changed method name for clarity
        })
        .catch((error) => {
          console.error(error);
        });
    },


    prepareGroupChartDataGroup(){
      for (let i = 0; i < this.allData.length; i++) {
          this.organizeDataByGroup(i)
        }
    },
    organizeDataByGroup(index) {


      // Initialize the grouped chart data structure based on the groups
      for (const groupName in this.gateGroups) {
        this.groupedChartData[groupName] = {
          gateNames: [],
          twidth: [],
        };
      }

      const data = this.allData[index];
        for (const gateData of data.gate_data) {
          for (const [groupName, gates] of Object.entries(this.gateGroups)) {
            if (gates.includes(gateData.to_gate_name)) {
              this.groupedChartData[groupName].gateNames.push(gateData.to_gate_name);
              this.groupedChartData[groupName].twidth.push(gateData.to_twidth);
            }
          }
        }

        this.allGroupedChartData.push( this.groupedChartData)
    },

    renderGroupedCharts() {
      this.allGroupedChartData.forEach((groupedChartData, index) => {
    Object.entries(groupedChartData).forEach(([groupName, chartData]) => {
      const uniqueId = `gate-canvas-${groupName}-${index}`; // Unique ID for every chart.
      this.renderGateChartphase(uniqueId, groupName, chartData);
    });
  });
    },
    renderGateChartphase(uniqueId,groupName, chartData) {
      console.log(groupName,chartData)
      const chartDataArr = [];
      const gateCanvasId = uniqueId// Generate ID based on group name

      const chartDataphase = {
        x: chartData.gateNames,
        y: chartData.twidth,
        mode: 'lines',
        type: 'scatter',
        name: 'twidth',
      };

      chartDataArr.push(chartDataphase);

      const layout = {
        title: 'Gate twidth for ' + groupName,
        xaxis: {
          title: 'Gate Name',
        },
        yaxis: {
          title: 'twidth',
        },
      };

      // Ensure the DOM is updated before trying to render the chart
      this.$nextTick(() => {
        Plotly.newPlot(gateCanvasId, chartDataArr, layout);
      });
    },
  },
};
</script>

  
<style>
.chart-container {
  height: 400px;
}
</style>
  
