<template>
  <v-container>
    <v-row>
        <v-col>
          <v-card color="primary" dark>
            <v-card-title class="text-h5">
              <router-link :to="{ name: 'visualizationByCalibrationData', query: $route.query }">
                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
              </router-link>
              Calibration Data Visualization:
            </v-card-title>
            <v-card-text>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Branch Name: {{ this.branch_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Chip Name: {{ this.chip_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Property: Freq
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Total Commits: {{ this.totalCommits }}
              </v-chip>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

  <v-row v-for="(commitData, index) in allData" :key="index">
  <v-col cols="12" sm="12">
    <!-- Card for each commit -->
    <v-card>
      <v-card-title>
        <div class="text-h6">Commit Hash: {{ commitData.commit_hash }}</div>
      </v-card-title>
      <v-card-subtitle>
        <div>Committed by: {{commitData.author}}</div>
        <div>Date: {{ commitData.date }}</div>
        <div>Message: {{ commitData.message }}</div>
      </v-card-subtitle>
      <v-card-text>
        <!-- Chart container -->
        <div :id="'qubit-canvas-' + index"></div>
      </v-card-text>
    </v-card>
  </v-col>
</v-row>

  </v-container>
</template>
  
<script>
import axios from 'axios';
import Plotly from 'plotly.js-dist';

export default {
  props: {
    branch_name: {
      type: String,
    },
    chip_id: {
        type: String,
      },
  },
  data() {
    return {
      allData: [],
      totalCommits: 0,
      chip_name: ''
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      const branch = this.branch_name;
      const chip_id = this.chip_id;
      axios
        .get(`/git/get_all/${branch}/${chip_id}`)
        .then((response) => {
          this.allData = response.data;
          this.totalCommits = this.allData.length
          this.renderCharts();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    renderCharts() {
      for (let i = 0; i < this.allData.length; i++) {
        this.renderQubitChart(i);
      }
    },
    renderQubitChart(index) {
      const reversedDataResponse = this.allData[index].qubit_data.slice(0, 8);
      const dataResponse = reversedDataResponse.slice().reverse();
      const chartDataArr = [];
      const qubitCanvasId = 'qubit-canvas-' + index; // Generate the correct ID

      // Separate the x and y data into arrays
      const qubitNames = dataResponse.map(qubitData => qubitData.to_name);
      const qubitFrequencies = dataResponse.map(qubitData => qubitData.to_freq);
      const qubitFreqEf = dataResponse.map(qubitData => qubitData.to_freq_ef);
      const qubitreadFreq = dataResponse.map(qubitData => qubitData.to_readfreq);
      this.chip_name = dataResponse[0].chip_name

      const qubitFrequenciesGHz = qubitFrequencies.map(freq => (freq / 1e9).toFixed(2));
      const qubitFreqEfGHz = qubitFreqEf.map(freqEf => (freqEf / 1e9).toFixed(2));
      const qubitreadFreqGHz = qubitreadFreq.map(readFreq => (readFreq / 1e9).toFixed(2));


      const chartDataFrequency = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitFrequenciesGHz, // Provide the array of qubit frequencies to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Qubit Drive Frequency',
      };

      const chartDataFreqEf = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitFreqEfGHz, // Provide the array of qubit freq_ef to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Qubit EF Frequency',
      };

      const chartDataReadFreq = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitreadFreqGHz, // Provide the array of qubit freq_ef to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Readout Frequency',
      };

      chartDataArr.push(chartDataFrequency);
      chartDataArr.push(chartDataFreqEf);
      chartDataArr.push(chartDataReadFreq);

      const layout = {
        xaxis: {
          title: 'Qubit Name',
        },
        yaxis: {
          title: 'Frequency(GHz)',
        },
      };

      this.$nextTick(() => {
        Plotly.newPlot(qubitCanvasId, chartDataArr, layout);
      });
    },
  },
};
</script>
  
<style>
.chart-container {
  height: 400px;
}
</style>
  