<template>
  <v-app-bar flat color="primary">
    <v-app-bar-title color="white">
      <router-link to="/" style="text-decoration:none; color:inherit;">
        QubiC Data Storage
      </router-link>
    </v-app-bar-title>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn text><router-link to="/visualization" class=" subtitle-2 font-weight-medium"
          style="color:#ffffff!important;">Data visulization</router-link></v-btn>
      <v-btn text><router-link to="/calibration" class=" subtitle-2 font-weight-medium"
          style="color:#ffffff!important;">Calibration Data Management</router-link></v-btn>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script setup>
  //
</script>
