<template>
    <v-container>
      <h2 class="text-left my-5">
        <router-link to="/visualization/byCalibrationData">
          <v-btn class="mr-1 mb-1" icon color="primary">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </router-link>
        Calibration Graph:
      </h2>
  
      <v-row v-for="(commitData, index) in qubitData" :key="index">
        <v-col cols="12" sm="12">
          <p class="text-center">Qubit: {{ commitData.name }}</p>
          <div :id="'qubit-canvas-' + index"></div>
        </v-col>
      </v-row>
      
      <v-row v-for="(commitData, index) in gateData" :key="index">
        <v-col cols="12" sm="6">
          <p class="text-center">Gate: {{ commitData.name }}</p>
          <div :id="'gate-canvas-' + index"></div>
        </v-col>
  
        <v-col cols="12" sm="6">
          <div :id="'gate-canvas-phase-' + index"></div>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
  import axios from 'axios';
  import Plotly from 'plotly.js-dist';
  
  export default {
    props: {
      branch_name: {
        type: String,
      },
    },
    data() {
      return {
        qubitData: [],
        gateData:[]
      };
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        const branch = this.branch_name;
        axios
          .get(`/git/get_all_by_property/${branch.branch_name}`)
          .then((response) => {
            const getQubitData = response.data.slice(0,8);
            this.qubitData = getQubitData.slice().reverse(); 
            this.renderQubitCharts();

            const getGateData = response.data.slice(14);
            this.gateData = getGateData;
            this.renderGateCharts();
          })
          .catch((error) => {
            console.error(error);
          });
      },
      renderQubitCharts() {
        for (let i = 0; i < this.qubitData.length; i++) {
            this.renderQubitChart(i);
        }
      },
      renderGateCharts() {
        for (let i = 0; i < this.gateData.length; i++) {
            this.renderGateChart(i);
            this.renderGateChartphase(i)
        }
      },
      renderQubitChart(index) {
        const dataResponse = this.qubitData[index].qubit_data;
        const chartDataArr = [];
        const qubitCanvasId = 'qubit-canvas-' + index;
  
        const qubitNames = dataResponse.map(qubitData => qubitData.commit_hash);
        const qubitFrequencies = dataResponse.map(qubitData => qubitData.freq);
        const qubitFreqEf = dataResponse.map(qubitData => qubitData.freq_ef);
        const qubitreadFreq = dataResponse.map(qubitData => qubitData.readfreq);
       
        const chartDataFrequency = {
          x: qubitNames, // Provide the array of qubit names to the x-axis
          y: qubitFrequencies, // Provide the array of qubit frequencies to the y-axis
          mode: 'lines',
          type: 'scatter',
          name: 'Qubit Drive Frequency',
        };
  
        const chartDataFreqEf = {
              x: qubitNames, // Provide the array of qubit names to the x-axis
              y: qubitFreqEf, // Provide the array of qubit freq_ef to the y-axis
              mode: 'lines',
              type: 'scatter',
              name: 'Qubit EF Frequency',
        };
  
        const chartDataReadFreq = {
              x: qubitNames, // Provide the array of qubit names to the x-axis
              y: qubitreadFreq, // Provide the array of qubit freq_ef to the y-axis
              mode: 'lines',
              type: 'scatter',
              name: 'Readout Frequency',
        };
  
        chartDataArr.push(chartDataFrequency);
        chartDataArr.push(chartDataFreqEf);
        chartDataArr.push(chartDataReadFreq);
  
        const layout = {
          xaxis: {
            title: 'Commit hash ',
          },
          yaxis: {
            title: 'Read, Frequency & EF',
          },
        };
  
        this.$nextTick(() => {
          Plotly.newPlot(qubitCanvasId, chartDataArr, layout);
        });
      },
  
      renderGateChart(index) {
        const dataResponse = this.gateData[index].gate_data;
       console.log(dataResponse)
        const chartDataArr = [];
        const gateCanvasId = 'gate-canvas-' + index; // Generate the correct ID
  
        // Separate the x and y data into arrays
        const gateNames = dataResponse.map(gateData => gateData.commit_hash);
        const gateAmp = dataResponse.map(gateData => gateData.amp);
  
        const chartDataAmp = {
          x: gateNames, // Provide the array of qubit names to the x-axis
          y: gateAmp, // Provide the array of qubit frequencies to the y-axis
          mode: 'lines',
          type: 'scatter',
          name: 'Amp',
        };
  
        chartDataArr.push(chartDataAmp);
  
        const layout = {
          title: 'Gate Amp',
          xaxis: {
            title: 'Gate Name',
          },
          yaxis: {
            title: 'Amp',
          },
        };
  
        this.$nextTick(() => {
          Plotly.newPlot(gateCanvasId, chartDataArr, layout);
        });
      },
  
      renderGateChartphase(index) {
        const dataResponse = this.gateData[index].gate_data;
        const chartDataArr = [];
        const gateCanvasId = 'gate-canvas-phase-' + index; // Generate the correct ID
  
        // Separate the x and y data into arrays
        const gateNames = dataResponse.map(gateData => gateData.commit_hash);
        const phase = dataResponse.map(gateData => gateData.phase);
  
        const chartDataphase = {
          x: gateNames, // Provide the array of qubit names to the x-axis
          y: phase, // Provide the array of qubit frequencies to the y-axis
          mode: 'lines',
          type: 'scatter',
          name: 'phase',
        };
        chartDataArr.push(chartDataphase);
  
        const layout = {
          title: 'Gate phase ',
          xaxis: {
            title: 'Gate Name',
          },
          yaxis: {
            title: 'phase',
          },
        };
  
        this.$nextTick(() => {
          Plotly.newPlot(gateCanvasId, chartDataArr, layout);
        });
      },
  
    },
  };
  </script>
  
  <style>
  .chart-container {
    height: 400px;
  }
  </style>
  