<template>
  <v-container>
    <h2 class="text-left my-5">
      <router-link to="/visualization/byCalibrationData">
        <v-btn class="mr-1 mb-1" icon color="primary">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </router-link>
      Calibration Graph:
    </h2>


    <v-row v-for="(commitData, index) in allData" :key="index">
      <v-col cols="12" sm="4">
        <p class="text-center">Commit: {{ commitData.commit_hash }}</p>
        <!-- On small screens, the graphs will be stacked; 12 columns full-width. On larger screens, each graph will take 6 columns. -->
        <div :id="'qubit-canvas-' + index"></div>
      </v-col>

      <v-col cols="12" sm="4">
        <!-- On small screens, the graphs will be stacked; 12 columns full-width. On larger screens, each graph will take 6 columns. -->
        <div :id="'gate-canvas-' + index"></div>
      </v-col>

      <v-col cols="12" sm="4">
        <!-- On small screens, the graphs will be stacked; 12 columns full-width. On larger screens, each graph will take 6 columns. -->
        <div :id="'gate-canvas-phase-' + index"></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import Plotly from 'plotly.js-dist';

export default {
  props: {
    branch_name: {
      type: String,
    },
  },
  data() {
    return {
      allData: [],
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      const branch = this.branch_name;
      axios
        .get(`/git/get_all/${branch.branch_name}`)
        .then((response) => {
          this.allData = response.data;
          // console.log(this.allData)
          this.renderCharts();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    renderCharts() {
      for (let i = 0; i < this.allData.length; i++) {
          this.renderQubitChart(i);
        this.renderGateChart(i);
        this.renderGateChartphase(i)
      }
    },
    renderQubitChart(index) {
      const reversedDataResponse = this.allData[index].qubit_data.slice(0, 8); 
      const dataResponse = reversedDataResponse.slice().reverse();
      const chartDataArr = [];
      const qubitCanvasId = 'qubit-canvas-' + index; // Generate the correct ID

      // Separate the x and y data into arrays
      const qubitNames = dataResponse.map(qubitData => qubitData.name);
      const qubitFrequencies = dataResponse.map(qubitData => qubitData.freq);
      const qubitFreqEf = dataResponse.map(qubitData => qubitData.freq_ef);
      const qubitreadFreq = dataResponse.map(qubitData => qubitData.readfreq);

      const qubitFrequenciesGHz = qubitFrequencies.map(freq => (freq / 1e9).toFixed(2));
      const qubitFreqEfGHz = qubitFreqEf.map(freqEf => (freqEf / 1e9).toFixed(2));
      const qubitreadFreqGHz = qubitreadFreq.map(readFreq => (readFreq / 1e9).toFixed(2));

     
      const chartDataFrequency = {
        x: qubitNames, // Provide the array of qubit names to the x-axis
        y: qubitFrequenciesGHz, // Provide the array of qubit frequencies to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Qubit Drive Frequency',
      };

      const chartDataFreqEf = {
            x: qubitNames, // Provide the array of qubit names to the x-axis
            y: qubitFreqEfGHz, // Provide the array of qubit freq_ef to the y-axis
            mode: 'lines',
            type: 'scatter',
            name: 'Qubit EF Frequency',
      };

      const chartDataReadFreq = {
            x: qubitNames, // Provide the array of qubit names to the x-axis
            y: qubitreadFreqGHz, // Provide the array of qubit freq_ef to the y-axis
            mode: 'lines',
            type: 'scatter',
            name: 'Readout Frequency',
      };

      chartDataArr.push(chartDataFrequency);
      chartDataArr.push(chartDataFreqEf);
      chartDataArr.push(chartDataReadFreq);

      const layout = {
        xaxis: {
          title: 'Qubit Name',
        },
        yaxis: {
          title: 'Read, Frequency & EF(GHz)',
        },
      };

      this.$nextTick(() => {
        Plotly.newPlot(qubitCanvasId, chartDataArr, layout);
      });
    },

    renderGateChart(index) {
      const dataResponse = this.allData[index].gate_data;
      const chartDataArr = [];
      const gateCanvasId = 'gate-canvas-' + index; // Generate the correct ID

      // Separate the x and y data into arrays
      const gateNames = dataResponse.map(gateData => gateData.gate_name);
      const gateAmp = dataResponse.map(gateData => gateData.amp);

      const chartDataAmp = {
        x: gateNames, // Provide the array of qubit names to the x-axis
        y: gateAmp, // Provide the array of qubit frequencies to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'Amp',
      };

      chartDataArr.push(chartDataAmp);

      const layout = {
        title: 'Gate Amp',
        xaxis: {
          title: 'Gate Name',
        },
        yaxis: {
          title: 'Amp',
        },
      };

      this.$nextTick(() => {
        Plotly.newPlot(gateCanvasId, chartDataArr, layout);
      });
    },

    renderGateChartphase(index) {
      const dataResponse = this.allData[index].gate_data;
      const chartDataArr = [];
      const gateCanvasId = 'gate-canvas-phase-' + index; // Generate the correct ID

      // Separate the x and y data into arrays
      const gateNames = dataResponse.map(gateData => gateData.gate_name);
      const phase = dataResponse.map(gateData => gateData.phase);

      const chartDataphase = {
        x: gateNames, // Provide the array of qubit names to the x-axis
        y: phase, // Provide the array of qubit frequencies to the y-axis
        mode: 'lines',
        type: 'scatter',
        name: 'phase',
      };
      chartDataArr.push(chartDataphase);

      const layout = {
        title: 'Gate phase ',
        xaxis: {
          title: 'Gate Name',
        },
        yaxis: {
          title: 'phase',
        },
      };

      this.$nextTick(() => {
        Plotly.newPlot(gateCanvasId, chartDataArr, layout);
      });
    },

  },
};
</script>

<style>
.chart-container {
  height: 400px;
}
</style>
