<template>
    <v-container>
        <div class="text-h3 text-center my-9">
            <v-row>
                <v-col>
                    <v-card color="primary" dark>
                        <v-card-title class="text-h5">
                            <router-link :to="{ name: 'Visualization', query: $route.query }">
                                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                                    <v-icon>mdi-arrow-left</v-icon>
                                </v-btn>
                            </router-link>
                            Calibration Data Visualization:
                        </v-card-title>
                        <v-card-text>
                            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                                Branch Name: {{ this.branch_name }}
                            </v-chip>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </div>

        <v-row class="mt-10 justify-center align-center">
            <v-table>
                <thead>
                    <tr>
                        <th class="text-left font-weight-bold">
                            Chips
                        </th>
                        <th class="text-left font-weight-bold">
                            By Commit
                        </th>
                        <th class="text-left font-weight-bold">
                            By Properties
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in allChips" :key="item.id">
                        <td>
                            <v-chip color="primary" dark large class="ma-2 text-h6" elevation="3">
                            {{ item.name }}
                        </v-chip>
                        </td>
                        <td>
                            <v-btn small color="primary" @click="viewGraphByCommit(item.id, 'qubit')">
                                <v-icon left>mdi-chart-line</v-icon> Qubit
                            </v-btn>
                            <v-btn class="ma-1" small color="primary" @click="viewGraphByCommit(item.id, 'gate_phase')">
                                <v-icon left>mdi-chart-line</v-icon> Gate phase
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByCommit(item.id, 'gate_freq')">
                                <v-icon left>mdi-chart-line</v-icon> Gate freq
                            </v-btn>
                            <v-btn class="ma-1" small color="primary" @click="viewGraphByCommit(item.id, 'gate_amp')">
                                <v-icon left>mdi-chart-line</v-icon> Gate Amp
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByCommit(item.id, 'gate_twidth')">
                                <v-icon left>mdi-chart-line</v-icon> Gate twidth
                            </v-btn>

                        </td>
                        <td>
                            <v-btn small color="primary" @click="viewGraphByProperties(item.id, 'qubit')">
                                <v-icon left>mdi-chart-line</v-icon> qubit
                            </v-btn>
                            <v-btn class="ma-1" small color="primary"
                                @click="viewGraphByProperties(item.id, 'gate_phase')">
                                <v-icon left>mdi-chart-line</v-icon> Gate phase
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByProperties(item.id, 'gate_freq')">
                                <v-icon left>mdi-chart-line</v-icon> Gate freq
                            </v-btn>
                            <v-btn class="ma-1" small color="primary" @click="viewGraphByProperties(item.id, 'gate_amp')">
                                <v-icon left>mdi-chart-line</v-icon> Gate Amp
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByProperties(item.id, 'gate_twidth')">
                                <v-icon left>mdi-chart-line</v-icon> Gate twidth
                            </v-btn>
                        </td>

                    </tr>
                </tbody>
            </v-table>
        </v-row>
    </v-container>
</template>

<script>
import axios from "axios";
export default {
    props: {
        branch_name: {
            type: String,
        },
    },
    data() {
        return {
            repos: [],
            allChips: [],
        };
    },
    mounted() {
        axios.get('/git/branches')
            .then(response => {
                console.log(response.data)
                this.repos = response.data;
            })
            .catch(error => {
                alert(error)
                console.error(error);
            });
        const branch = this.branch_name
        axios.get('/git/get/chip/' + branch)
            .then(response => {
                console.log('Raw response data:', response.data);
                if (!Array.isArray(response.data)) {
                    console.error('Invalid response data:', response.data);
                    alert('Failed to fetch chips!');
                    return;
                }
                const allChips = response.data.map(chip => {
                    console.log('Processing chip:', chip);
                    return {
                        id: chip.id,
                        name: chip.name
                    };
                });
                this.allChips = allChips;
            })
            .catch(error => {
                alert(error)
                console.error(error);
                alert('Failed to fetch chips!');
            });
    },
    methods: {
        viewGraphByCommit(chip_id, property) {
            const branch = this.branch_name
            this.$router.push({
                path: '/visualization/calibration/bycommit/' + property,
                query: {
                    branch_name: branch,
                    chip_id: chip_id
                },
            });
        },
        viewGraphByProperties(chip_id, property) {
            const branch = this.branch_name
            this.$router.push({
                path: '/visualization/calibration/byproperty/' + property,
                query: {
                    branch_name: branch,
                    chip_id: chip_id
                },
            });
        },
    },
}
</script> 