<template>
    <v-container>
        <v-responsive class="d-flex align-center text-center fill-height">

            <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>
            <h1 class="text-h2 font-weight-bold"> <router-link to="/visualization">
                    <v-btn class="mr-2" icon color="primary">
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                </router-link> Calibration Data Visualization
            
            {{ this.branch_name['branch_name'] }}
            </h1>
        </v-responsive>


        <v-row class="mt-10 justify-center align-center">
            <v-table>
                <thead>
                    <tr>
                        <th class="text-left font-weight-bold">
                            Branch
                        </th>
                        <th class="text-left font-weight-bold">
                            Owner
                        </th>
                        <th class="text-left font-weight-bold">
                            Message
                        </th>
                        <th class="text-left font-weight-bold">
                            Time
                        </th>
                        <th class="text-left font-weight-bold">
                            By Commit
                        </th>
                        <th class="text-left font-weight-bold">
                            By Properties
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in repos" :key="item.branch">
                        <td>{{ item.name }}</td>
                        <td>{{ item.latest_committer }}</td>
                        <td>{{ item.latest_commit_message }}</td>
                        <td>{{ item.latest_commit_date }}</td>
                        <td>
                        <v-btn small color="primary" @click="viewGraphByCommit(item.name, 'qubit')">
                                <v-icon left>mdi-chart-line</v-icon> Qubit
                            </v-btn>
                            <v-btn  class="ma-1" small color="primary" @click="viewGraphByCommit(item.name, 'gate_phase')">
                                <v-icon left>mdi-chart-line</v-icon> Gate phase
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByCommit(item.name, 'gate_freq')">
                                <v-icon left>mdi-chart-line</v-icon> Gate freq
                            </v-btn>
                            <v-btn class="ma-1" small color="primary" @click="viewGraphByCommit(item.name, 'gate_amp')">
                                <v-icon left>mdi-chart-line</v-icon> Gate Amp
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByCommit(item.name, 'gate_twidth')">
                                <v-icon left>mdi-chart-line</v-icon> Gate twidth
                            </v-btn>

                        </td>
                        <td>
                            <v-btn small color="primary" @click="viewGraphByProperties(item.name, 'qubit')">
                                <v-icon left>mdi-chart-line</v-icon> qubit
                            </v-btn>
                            <v-btn  class="ma-1" small color="primary" @click="viewGraphByProperties(item.name, 'gate_phase')">
                                <v-icon left>mdi-chart-line</v-icon> Gate phase
                            </v-btn>
                            <v-btn  small color="primary" @click="viewGraphByProperties(item.name, 'gate_freq')">
                                <v-icon left>mdi-chart-line</v-icon> Gate freq
                            </v-btn>
                            <v-btn class="ma-1" small color="primary" @click="viewGraphByProperties(item.name, 'gate_amp')">
                                <v-icon left>mdi-chart-line</v-icon> Gate Amp
                            </v-btn>
                            <v-btn small color="primary" @click="viewGraphByProperties(item.name, 'gate_twidth')">
                                <v-icon left>mdi-chart-line</v-icon> Gate twidth
                            </v-btn>
                        </td>

                    </tr>
                </tbody>
            </v-table>
        </v-row>
    </v-container>
</template>

<script>
import axios from "axios";
export default {
    props: {
    branch_name: {
      type: String,
    },
  },
    data() {
        return {
            repos: [],
        };
    },
    mounted() {
        axios.get('/git/branches')
            .then(response => {
                console.log(response.data)
                this.repos = response.data;
            })
            .catch(error => {
                console.error(error);
            });
    },
    methods: {
        viewGraphByCommit(branch,property) {
            this.$router.push({
                path: '/visualization/calibration/bycommit/'+property,
                query: { branch_name: branch },
            });
        },
        viewGraphByProperties(branch,property) {
            this.$router.push({
                path: '/visualization/calibration/byproperty/'+property,
                query: { branch_name: branch },
            });
        },
    },
}
</script>