<template>
    <v-container>
        <v-card>
            <v-card-title class="text-h4 text-center">QubiC Data</v-card-title>
            <v-card-text>
                <v-expansion-panels>
                    <v-expansion-panel v-for="(item, index) in qubits" :key="index" :title="item.qubit">
                        <v-expansion-panel-text>

                        <v-expansion-panels>
                            <v-expansion-panel v-for="(experimentData, index) in item.experimentData" :key="index"
                                :title="'experimentData' + (index + 1)">
                                <v-expansion-panel-text>

                                    <v-expansion-panels>
                                        <v-expansion-panel title="prep0read1">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.prep0read1.enddatetime }}</td>
                                                            <td>{{ experimentData.prep0read1.mean }}</td>
                                                            <td>{{ experimentData.prep0read1.startdatetime }}</td>
                                                            <td>{{ experimentData.prep0read1.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>




                                    <v-expansion-panels>
                                        <v-expansion-panel title="prep1read0">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.prep1read0.enddatetime }}</td>
                                                            <td>{{ experimentData.prep1read0.mean }}</td>
                                                            <td>{{ experimentData.prep1read0.startdatetime }}</td>
                                                            <td>{{ experimentData.prep1read0.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                    <v-expansion-panels>
                                        <v-expansion-panel title="rb1qinfidelity">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.rb1qinfidelity.enddatetime }}</td>
                                                            <td>{{ experimentData.rb1qinfidelity.mean }}</td>
                                                            <td>{{ experimentData.rb1qinfidelity.startdatetime }}</td>
                                                            <td>{{ experimentData.rb1qinfidelity.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                    <v-expansion-panels>
                                        <v-expansion-panel title="separation">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.separation.enddatetime }}</td>
                                                            <td>{{ experimentData.separation.mean }}</td>
                                                            <td>{{ experimentData.separation.startdatetime }}</td>
                                                            <td>{{ experimentData.separation.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                    <v-expansion-panels>
                                        <v-expansion-panel title="t1">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.t1.enddatetime }}</td>
                                                            <td>{{ experimentData.t1.mean }}</td>
                                                            <td>{{ experimentData.t1.startdatetime }}</td>
                                                            <td>{{ experimentData.t1.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                    <v-expansion-panels>
                                        <v-expansion-panel title="t2ramsey">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.t2ramsey.enddatetime }}</td>
                                                            <td>{{ experimentData.t2ramsey.mean }}</td>
                                                            <td>{{ experimentData.t2ramsey.startdatetime }}</td>
                                                            <td>{{ experimentData.t2ramsey.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                    <v-expansion-panels>
                                        <v-expansion-panel title="t2spinecho">
                                            <v-expansion-panel-text>
                                                <v-table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                EndDateTime
                                                            </th>
                                                            <th>
                                                                Mean
                                                            </th>
                                                            <th>
                                                                StartDateTime
                                                            </th>
                                                            <th>
                                                                Std
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ experimentData.t2spinecho.enddatetime }}</td>
                                                            <td>{{ experimentData.t2spinecho.mean }}</td>
                                                            <td>{{ experimentData.t2spinecho.startdatetime }}</td>
                                                            <td>{{ experimentData.t2spinecho.std }}</td>
                                                        </tr>
                                                    </tbody>
                                                </v-table>
                                            </v-expansion-panel-text>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                </v-expansion-panel-text>

                            </v-expansion-panel>
                        </v-expansion-panels>
                        </v-expansion-panel-text>
                    </v-expansion-panel>

                </v-expansion-panels>

            </v-card-text>
            <!-- <v-card-actions>
                <div>
                    <input type="file" @change="handleFileUpload" />
                    <v-btn variant="outlined" color="primary" dark @click="uploadData">
                        Upload Data
                    </v-btn>
                </div>
            </v-card-actions> -->
        </v-card>

    </v-container>
</template>
  

<script>
import axios from "axios";
const pageSize = 10; // display 10 items per page

export default {
    
    data() {
        return {
            qubits: null,
            fileData: null,
            currentPage: 1,
        };
    },
    methods: {
        handleFileUpload(event) {
            this.fileData = event.target.files[0];
        },
        uploadData() {
            const formData = new FormData();
            formData.append("file", this.fileData);
            axios.post("/qubic/experiment", formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
            }).then(response => {
                console.log(response.data);
            }).catch(error => {
                console.log(error.response.data);
            });
        },
    },
    computed: {
  paginatedQubits() {
    const startIndex = (this.currentPage - 1) * pageSize;
    const endIndex = startIndex + pageSize;
    return this.qubits.slice(startIndex, endIndex);
  },
},
    mounted() {
        // Replace this with code to fetch the JSON data from your server or API
        axios.get('/qubic/experiment')
            .then(response => {
                this.qubits = response.data;
                // console.log(this.qubits)
            })
            .catch(error => {
                console.error(error);
            });
    }
}
</script>
  