<template>
    <v-app>
        <v-container>
            <div class="text-h3 text-center my-9">
            <v-row>
                <v-col>
                    <v-card color="primary" dark>
                        <v-card-title class="text-h5">
                            <router-link :to="{ name: 'Visualization', query: $route.query }">
                                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                                    <v-icon>mdi-arrow-left</v-icon>
                                </v-btn>
                            </router-link>
                            Long Term Monitor Data Visualization: By Parameters
                        </v-card-title>
                        <v-card-text>
                            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                                Chip Name: {{ this.chip_name }}
                            </v-chip>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-col v-for="(card, index) in cardData" :key="index" cols="12" md="3">
                    <v-card elevation="12" :color="card.color" dark class="mx-auto" max-width="auto">
                        <v-card-title>{{ card.title }}</v-card-title>
                        <v-card-subtitle>{{ card.subtitle }}</v-card-subtitle>
                        <v-card-actions>
                            <v-btn color="white-text" dark variant="outlined" size="x-large"
                                @click="card.buttonClickAction">
                                {{ card.buttonText }}
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </div>
        </v-container>
    </v-app>
</template>
  
<script>
import axios from 'axios';
export default {
    props: {
        chip_name: {
            type: String,
        },
    },
    data() {
        return {
            cardData: [
                {
                    title: 'prep0read1 Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handlePrep0read1GraphButtonClick,
                },
                {
                    title: 'prep1read0 Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handlePrep1read0GraphButtonClick,
                },
                {
                    title: 'rb1qinfidelity Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleFidelityGraphButtonClick,
                },
                {
                    title: 'separation Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleSeparationGraphButtonClick,
                },
                {
                    title: 't1 Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleT1GraphButtonClick,
                },
                {
                    title: 't2ramsey Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleT2ramseyGraphButtonClick,
                },
                {
                    title: 't2spinecho Data',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleT2spinechoGraphButtonClick,
                },
            ],
        };
    },
    methods: {
        handleFidelityGraphButtonClick() {
            this.$router.push({
                path: '/fidelity',
                query: { chip_name: this.chip_name }
            });
        },
        handlePrep0read1GraphButtonClick() {
            this.$router.push({
                path: '/prep0read1',
                query: { chip_name: this.chip_name }

            });

        },
        handlePrep1read0GraphButtonClick() {
            this.$router.push({
                path: '/prep1read0',
                query: { chip_name: this.chip_name }
            });

        },
        handleSeparationGraphButtonClick() {
            this.$router.push({
                path: '/separation',
                query: { chip_name: this.chip_name }
            });

        },
        handleT1GraphButtonClick() {
            this.$router.push({
                path: '/t1',
                query: { chip_name: this.chip_name }

            });

        },
        handleT2ramseyGraphButtonClick() {
            this.$router.push({
                path: '/t2ramsey',
                query: { chip_name: this.chip_name }
            });
        },
        handleT2spinechoGraphButtonClick() {
            this.$router.push({
                path: '/t2spinecho',
                query: { chip_name: this.chip_name }

            });
        },
    },
};
</script>
  