<template>
    <v-container>

        <div class="text-h3 text-center my-9">

            <v-row>
                <v-col>
                    <v-card color="primary" dark>
                        <v-card-title class="text-h5">
                            <router-link :to="{ name: 'Visualization', query: $route.query }">
                                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                                    <v-icon>mdi-arrow-left</v-icon>
                                </v-btn>
                            </router-link>
                            Long Term Monitor Data Visualization: By Qubits
                        </v-card-title>
                        <v-card-text>
                            <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                                Chip Name: {{ this.chip_name }}
                            </v-chip>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </div>

        <v-row dense>
            <v-col v-for="(card, index) in cardData" :key="index" cols="12" md="3">
                <v-card elevation="12" :color="card.color" dark class="mx-auto" max-width="auto">
                    <v-card-title>{{ card.title }}</v-card-title>
                    <v-card-subtitle>{{ card.subtitle }}</v-card-subtitle>
                    <v-card-actions>
                        <v-btn color="white-text" dark variant="outlined" size="x-large" @click="card.buttonClickAction">
                            {{ card.buttonText }}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
  
<script>
export default {
    props: {
        chip_name: {
            type: String,
        },
    },
    data() {
        return {
            cardData: [
                {
                    title: 'Q0',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ0GraphButtonClick,
                },
                {
                    title: 'Q1',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ1GraphButtonClick,
                },
                {
                    title: 'Q2',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ2GraphButtonClick,
                },
                {
                    title: 'Q3',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ3GraphButtonClick,
                },
                {
                    title: 'Q4',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ4GraphButtonClick,
                },
                {
                    title: 'Q5',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ5GraphButtonClick,
                },
                {
                    title: 'Q6',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ6GraphButtonClick,
                },
                {
                    title: 'Q7',
                    subtitle: 'It tells you how accurate your measurement is',
                    color: 'primary',
                    buttonText: 'Graph',
                    buttonClickAction: this.handleQ7GraphButtonClick,
                },
                // Add more card data objects here...
            ],
        };
    },
    methods: {
        handleQ0GraphButtonClick() {
            this.$router.push({
                path: '/q0',
                query: { chip_name: this.chip_name }
            });
        },
        handleQ1GraphButtonClick() {
            this.$router.push({
                path: '/q1',
                query: { chip_name: this.chip_name }
            });

        },
        handleQ2GraphButtonClick() {
            this.$router.push({
                path: '/q2',
                query: { chip_name: this.chip_name }
            });

        },
        handleQ3GraphButtonClick() {
            this.$router.push({
                path: '/q3',
                query: { chip_name: this.chip_name }
            });

        },
        handleQ4GraphButtonClick() {
            this.$router.push({
                path: '/q4',
                query: { chip_name: this.chip_name }

            });

        },
        handleQ5GraphButtonClick() {
            this.$router.push({
                path: '/q5',
                query: { chip_name: this.chip_name }
            });
        },
        handleQ6GraphButtonClick() {
            this.$router.push({
                path: '/q6',
                query: { chip_name: this.chip_name }
            });
        },
        handleQ7GraphButtonClick() {
            this.$router.push({
                path: '/q7',
                query: { chip_name: this.chip_name }
            });
        }
    },
};
</script>