<template>
    <v-app>
      <v-container>
        <v-row>
        <v-col>
          <v-card color="primary" dark>
            <v-card-title class="text-h5">
              <router-link :to="{ name: 'visualizationByQubits', query: $route.query }">
                <v-btn class="mr-1 mt-1" icon color="light-blue-darken-3" dark elevation="3">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
              </router-link>
              Long Term Monitor Data Visualization:
            </v-card-title>
            <v-card-text>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Chip Name: {{ this.chip_name }}
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Qubit: Q6
              </v-chip>
              <v-chip color="white" dark large class="ma-2 text-h6" elevation="3">
                Total Experiments: {{ this.totalExperiments }}
              </v-chip>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      
        
        
        <v-row v-for="i in noOfQubits" :key="i">
        <v-col cols="12">
          <div>
              <h1> {{ graphNames[i-1] }}</h1>
            <div :id="'canvas-' + (i - 1)"> </div>
            <v-divider></v-divider>
          </div>
        </v-col>
      </v-row>


      </v-container>
    </v-app>
  </template>
  
  <script>
  import axios from 'axios';
  import Plotly from 'plotly.js-dist';
  
  export default {
    props: {
    chip_name: {
      type: String,
    },
  },
    data() {
      return {
        graphNames: [
        'prep0read1',
        'prep1read0',
        'rb1qinfidelity',
        'separation',
        't1',
        't2ramsey',
        't2spinecho',
      ],
        allData: {},
        noOfQubits: 0,
        totalExperiments: 0,
        isDataLoaded: false,
        chartDataArr : []
      };
    },
    created() {
      axios
        .get('/dataVisulization/qubits_count')
        .then((response) => {
          this.noOfQubits = response.data;
          this.isDataLoaded = true;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    mounted() {
    axios.get('/dataVisulization/individual/qubit/properties/Q6/'+ this.chip_name).then((response) => {
      const dataResponse = response.data.Q6;
      this.totalExperiments =dataResponse.prep0read1.length
      const chartDataArr = [];
      for (const i in dataResponse) {
        const qubitData = dataResponse[i];
        let eachQubitData = {
          x: [],
          y: [],
          error_y: {
            type: 'data',
            array: [],
            visible: true,
            color: 'rgb(64,64,64)',
            symmetric: false,
          },
          marker: {
            color: 'rgb(211, 211, 211)',
            size: 8
          },
          type: "scatter",
          name: "Mean Values"
        };
        for (let j = 0; j < qubitData.length; j++) {
          const timestamp = qubitData[j].startdatetime;
        
          const year = parseInt(timestamp.substring(0, 4), 10);
          const month = parseInt(timestamp.substring(4, 6), 10) - 1; // JavaScript months are 0-indexed
          const day = parseInt(timestamp.substring(6, 8), 10);
          const hours = parseInt(timestamp.substring(9, 11), 10);
          const minutes = parseInt(timestamp.substring(11, 13), 10);
          const seconds = parseInt(timestamp.substring(13, 15), 10);
          const milliseconds = parseInt(timestamp.substring(16, 19), 10);
          let date = new Date(year, month, day, hours, minutes, seconds, milliseconds);
          const options = { timeZone: 'America/Los_Angeles', hour12: true };
          let qubitsStartTime = `${date.toLocaleTimeString('en-US', options)} ${date.toLocaleDateString('en-US', options)}`; // Format the date string in PST
         
          const mean = qubitData[j].mean;
          const std = qubitData[j].std;
          eachQubitData.x.push(qubitsStartTime);
          eachQubitData.y.push(mean);
          eachQubitData.error_y.array.push(std);
        }
        chartDataArr.push(eachQubitData);
      }
      this.renderChart(chartDataArr);
    }).catch((error) => {
      console.log(error);
    });
  },
  methods: {
    renderChart(chartDataArr) {
      for (let i = 0; i < chartDataArr.length; i++) {
        // console.log(chartDataArr[i]);
        const layout = {
          xaxis: {
            autorange: true,
            autmargin: true
          }
        };
        Plotly.newPlot("canvas-" + i, [chartDataArr[i]], layout);
      }
    },
  },
 };
  </script>
  