<template>
    <router-view></router-view>
    <v-container>
      
        <v-responsive class="d-flex align-center text-center fill-height mt-5">
            <h1 class="text-h4 font-weight-bold"> <router-link to="/">
                    <v-btn class="mr-2" icon color="primary">
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                </router-link> 
                Experiment Data Visualization
            </h1>
        </v-responsive>
        <v-row class="text-center justify-center align-center">
            <div class=" text-center mb-5 mt-7">
                <h5> {{ filename }}</h5>
                <v-btn class="flex-grow-1 text-none" color="primary" rounded="0" variant="flat" @click="handleFileChange">
                    <v-icon left>mdi-cloud-upload</v-icon> Upload Experiment Data
                </v-btn>
                    <input ref="fileInput" type="file" accept=".json" style="display: none;" @change="handleUploadClick">
                <router-link to="/allExperimentData">
                    <v-btn class="flex-grow-1 text-none mx-5" color="primary" rounded="0" variant="flat">
                        <v-icon left>mdi-view-list</v-icon> View Experiment Data
                    </v-btn>
                </router-link>
            </div>
        </v-row>
        <v-row class="mt-2">
            <v-col v-for="(card, index) in cardData" :key="index" cols="12" md="6">
                <v-card elevation="12" :color="card.color" dark class="mx-auto" max-width="auto">
                    <v-card-title>{{ card.title }}</v-card-title>
                    <v-card-subtitle>{{ card.subtitle }}</v-card-subtitle>
                    <v-card-actions>
                        <v-btn color="white-text" dark variant="outlined" size="x-large" @click="card.buttonClickAction">
                            {{ card.buttonText }}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-responsive class="d-flex align-center text-center fill-height mt-10">
            <h1 class="text-h4 font-weight-bold"> <router-link to="/">
                    <v-btn class="mr-2" icon color="primary">
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                </router-link> Calibration Data Visualization</h1>
        </v-responsive>
        <v-row class="mt-1">
            <v-col v-for="(card, index) in calibrationcardData" :key="index" cols="12" md="12">


                <v-card elevation="12" :color="card.color" dark class="mx-auto" max-width="auto">
                    <v-card-title>{{ card.title }}</v-card-title>
                    <v-card-subtitle>{{ card.subtitle }}</v-card-subtitle>
                    <v-card-actions>
                        <v-btn color="white-text" dark variant="outlined" size="x-large" @click="card.buttonClickAction">
                            {{ card.buttonText }}
                        </v-btn>
                    </v-card-actions>
                </v-card>
                <v-dialog v-model="selectbBranchDialog" max-width="500px">
                    <v-card>
                        <v-card-title class="headline">Select the branch</v-card-title>
                        <v-card-text>
                            <v-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">Branch Name</th>
                                            <th class="text-left">Owner</th>
                                            <th class="text-left">Visualize</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="activity in repos" :key="activity.branch">
                                            <td>{{ activity.name }}</td>
                                            <td>{{ activity.latest_committer }}</td>
                                            <td>
                                                <v-btn color="white-text" dark rounded="0" variant="flat"
                                                    @click="byCalibration((activity.name))">
                                                    <v-icon left>mdi-chart-bar</v-icon>
                                                    visualize
                                                </v-btn>

                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="error" @click="historyDialog = false">Cancel</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="selectChipDialogforQubits" max-width="500px">
                    <v-card>
                        <v-card-title class="headline">Select the Chips</v-card-title>
                        <v-card-text>
                            <v-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">Chip Name</th>
                                            <th class="text-left">Visualize</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="chip in chips" :key="chip">
                                            <td>{{ chip}}</td>
                                            <td>
                                                <v-btn color="white-text" dark rounded="0" variant="flat"
                                                    @click="byQubits((chip))">
                                                    <v-icon left>mdi-chart-bar</v-icon>
                                                    visualize
                                                </v-btn>

                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="error" @click="historyDialog = false">Cancel</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="selectChipDialogforProperties" max-width="500px">
                    <v-card>
                        <v-card-title class="headline">Select the Chips</v-card-title>
                        <v-card-text>
                            <v-table dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">Chip Name</th>
                                            <th class="text-left">Visualize</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="chip in chips" :key="chip">
                                            <td>{{ chip }}</td>
                                            <td>
                                                <v-btn color="white-text" dark rounded="0" variant="flat"
                                                    @click="byExperiment(chip)">
                                                    <v-icon left>mdi-chart-bar</v-icon>
                                                    visualize
                                                </v-btn>

                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-table>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="error" @click="historyDialog = false">Cancel</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-col>
        </v-row>

    </v-container>
</template>
  
<script>
import axios from 'axios';
export default {
    props: {
    branch_name: {
      type: String,
    },
  },
    data() {
        return {
            cardData: [
                {
                    title: 'By Qubits',
                    subtitle: 'Visualize the Experiment Data by each Qubit',
                    color: 'primary',
                    buttonText: 'Start',
                    buttonClickAction: this.openSelectChipDialogforQubits,
                },
                {
                    title: 'By  Parameters',
                    subtitle: 'Visualize the Experiment Data by each Parameters',
                    color: 'primary',
                    buttonText: 'Start',
                    buttonClickAction: this.openSelectChipDialogforProperties,
                },
            ],
            calibrationcardData: [
                {
                    title: 'By Calibration',
                    subtitle: 'Visualize the Calibration Data',
                    color: 'primary',
                    buttonText: 'Select the branch',
                    buttonClickAction: this.openSelectBranchDialog,
                },
            ],
            selectbBranchDialog: false,
            selectChipDialogforQubits: false,
            selectChipDialogforProperties:false,
            repos: [],
            chips:[],
            filename: ''
        };
    },
    mounted() {
        axios.get('/git/branches')
            .then(response => {
                this.repos = response.data;
            })
            .catch(error => {
                alert(error)
                console.error(error);
            });
            axios.get('/qubic/experiment/get/chips')
            .then(response => {
                this.chips = response.data;
            })
            .catch(error => {
                alert(error)
                console.error(error);
            });
    },
    methods: {
        byQubits(chip_name) {
            this.$router.push({ 
                path: '/visualization/byQubits',
                query:{chip_name:chip_name}
            });
        },
        byExperiment(chip_name) {
            this.$router.push({
                 path: '/visualization/byExperimentData',
                 query: {chip_name: chip_name}
                });
        },
        byCalibration(name) {
            this.$router.push({ 
                path: '/visualization/byCalibrationData',
                query: { branch_name: name },
             });
        },
        openSelectBranchDialog() {
            this.selectbBranchDialog = true;
        },
        openSelectChipDialogforQubits() {
            this.selectChipDialogforQubits=true
        },
        openSelectChipDialogforProperties(){
            this.selectChipDialogforProperties = true
        },
        handleFileChange() {
            this.$refs.fileInput.click();
        },
        handleUploadClick(event) {
            const file = event.target.files[0];
            this.filename = file.name;
            const chip_name = file.name.split('.').slice(0, -2).join('.');
            if(file){
                const reader = new FileReader();
                reader.onload = () => {
                const jsonContent = JSON.parse(reader.result);
                Object.keys(jsonContent).forEach(key => {
                jsonContent[key]['chip_name'] = chip_name;
            });
                const payload = {
                    ...jsonContent
                };
                axios.post('/qubic/experiment', payload)
                .then(response => {
                    alert("Experiment Data Upload Successful")
                    console.log('Upload successful', response.data);
                })
                .catch(error => {
                    alert(error)
                    console.error('Error uploading file', error);
                });
            }
            reader.readAsText(file)
            }
        },
    },
};
</script>
  